gmt-core/src/test/resources/nl/gmt/xml/Schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:schema"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="childNodeA">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="subNodes">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="subNode">
                                            <xs:complexType>
                                                <xs:attribute name="attr1" type="xs:string" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="attr1" type="xs:string" use="required"/>
                        <xs:attribute name="attr2" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="childNodeBs">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="childNodeB">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="subNode">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="attr1" type="xs:string" use="required"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="type" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>